/*body {
	margin-top: 20px;
}

h1 {
	color: #3484D2;
}

a[href^="#error:"] {
	background: red;
	color: white;
}*/

.bg-dark {
	background-color: #343a40!important;
}
form .required label {
	font-weight: bold;
}

.form {
	padding: 5px;
}
.filterFormTable>thead{
	padding-bottom: 10px;


}
.filterFormTable>tbody{
	display:none;
}

